header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}
body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-color: lightblue;
    font-family: "Helvetica", "Courier New", monospace;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

input[type=button], input[type=submit] {
    background-color: #043eaa;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.column {
    float: left;
    width: 50%;
  }
.column3 {
    float: left;
    width: 33.33%;
  }
form{
    width: 50%;
	font: 95% Arial, Helvetica, sans-serif;	
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
form h4{
	background: #43b5d1;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
form input{
    outline: none;
	box-sizing: border-box;
    width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
form input[type="submit"],
form input[type="button"]{
	box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43b5d1;
	border-bottom: 2px solid #3088c2;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
form input[type="submit"]:hover,
form input[type="button"]:hover{
	background: #2ea9bc;
}
figure {
    background-color: #fff;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
  }
.scaled {
    width: 75%;
  }
  h3{
    
	padding: 3%;
	background: #43b5d1;
	border-bottom: 2px solid #3088c2;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
    text-align: center;
  }
  ol {
    counter-reset: item;
    list-style-type: none;
    line-height: 2.2;
    margin-left: -40px;
  }
  
  ol li {
    display: block;
    position: relative;
  }
  
  ol li span {
    margin-left: 40px;
  }
  
  ol li:before {
    content: counter(item) " ";
    counter-increment: item;
    color: #7eb4e2;
    position: absolute;
    top: 50%;
    margin-top: -1em;
    background: linear-gradient(45deg, #f69ec4, #f9dd94);
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
    text-align: center;
    border-radius: 2em;
    font-weight: 700;
  }
  p {
    
    width: 300px;
    border: thin silver solid;
    padding: 50px;
    margin: 20px;
    background: #43b5d1;
	border-bottom: 2px solid #3088c2;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
    text-align: center;
    
  }
h1{
    
    border: thin silver solid;
    padding: 50px;
    margin: 20px;
    background: #43b5d1;
	border-bottom: 2px solid #3088c2;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
    text-align: center;
}
button {
    display: inline-block;
    background-color: #117791;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #f7c2f9;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  td, th {
    border: 1px solid #999;
    padding: 0.5rem;
  }
  table {
    border-collapse: collapse;
  }